@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #454545 !important;
    justify-content: center;
    background: linear-gradient(rgba(15,15,15,0.7),rgba(15,15,15,0.6)), url('bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1.5rem 3rem;
}

header {
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    color: #fff;
}

.nav .logo i {
    color: #00b7ff;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li a {
    color: #fff;
    margin-left: 2rem;
    background: #00b7ff;
    padding: 5px 8px;
    border-radius: 20px;
    transition: .1s;
}

.nav-links ul li a:hover {
    background: transparent;
    outline: 3px solid #00b7ff;
}

.main-content {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90%;
    color: #fff;
}

.main-content h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 26px;
}

.preventive-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.preventive-container .card {
    height: 500px;
    width: 420px;
    background: #888;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all ease-out .2s;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}

.preventive-container .card .card-title {
    margin-top: 50%;
    text-align: center;
    font-size: 22px;
}

.preventive-container .card:hover .card-title {
    margin-top: 0%;
}

.card:hover {
    transform: scale(1.10);
    border-radius: 20px;
}

.preventive-container .card .card-desc {
    margin-top: 9rem;
}

.preventive-container .card:hover .card-desc {
    display: flex;
}

.preventive-container .card .card-desc {
    display: none;
}

#xray {
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)), url('assets/xray.jpg');
    background-position: center;
    background-size: cover;
}

#sealants {
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)), url('assets/sealant.jpg');
    background-position: center;
    background-size: cover;
}

#visits {
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)), url('assets/visits.JPG');
    background-position: center;
    background-size: cover;
}

